* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: grey;
}

.cookie img {
    height: auto;
    width: 25%;
    outline: none;
}

.cookie {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    outline: none;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: yellow;
    font-size: 2rem;
    width: 30%;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    border: 1px solid black;
}


.scoreboard :hover{
    background-color: rgba(0,0,0,.25);
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

#shopContainer {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

#shopContainer div {
    margin-bottom: 5px;
    background-color: lightslategray;
}
#shopContainer button {
    margin-bottom: 5px;
}

#shopTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cookie img {
    position: relative;
}

.cookie img:hover {
    transform: scale(1.10);
}

.cookie img:active {
    transform: scale(.99);
}

.shopName {
    color: blue;
}