* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* body {
    background-color: lime;
} */

.cookie img {
    height: auto;
    width: 25%;
    outline: none;
}

.cookie {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: yellow;
    font-size: 2rem;
    width: 30%;
    margin: auto;
    padding: 20px;
    flex-direction: column;
}


.scoreboard :hover{
    background-color: rgba(0,0,0,.25);
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
}